$link : white;
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
$landing : 'Luckiest Guy', cursive;
// font
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
$font: 'Patrick Hand', cursive;

$active : rgb(92, 218, 54);